<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servlet_examples</display-name>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>NAVEEN</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:oracle</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>NAVEEN</param-value>
  </context-param>
  <filter>
    <filter-name>count</filter-name>
    <filter-class>com.cg.filters.CountHtmlHits</filter-class>
  </filter>
  <filter>
    <filter-name>store</filter-name>
    <filter-class>com.cg.config.UserloginInfo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>count</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>store</filter-name>
    <url-pattern>/validateUser</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>displaydate</servlet-name>
    <servlet-class>com.cg.servlets.DisplayDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userInfo</servlet-name>
    <servlet-class>com.cg.servlets.UserDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>empDetails</servlet-name>
    <servlet-class>com.db.example.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>storeMember</servlet-name>
    <servlet-class>com.cg.context.ServletContextServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>validateUser</servlet-name>
    <servlet-class>com.cg.config.ValidateServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>java4all@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>pwd</param-name>
      <param-value>youknow</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>colors</servlet-name>
    <servlet-class>com.cg.servlet.session.ColorsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.cg.servlet.session.ColorsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displaydate</servlet-name>
    <url-pattern>/showDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userInfo</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>empDetails</servlet-name>
    <url-pattern>/empInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>storeMember</servlet-name>
    <url-pattern>/storeMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>validateUser</servlet-name>
    <url-pattern>/validateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>colors</servlet-name>
    <url-pattern>/viewColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/userrole</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cookie</servlet-name>
    <servlet-class>com.cg.cookie.CookieDemo</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>empController</servlet-name>
    <servlet-class>com.cg.mvc2.EmployeeController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>empController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.cg.listner.ListnerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.cg.listner.Attribute</listener-class>
  </listener>
</web-app>